{
   {#- Summer-or-is-it-Spring 2024 
   This template began its life (of joy) as a copy of the General DCMNY I7 AMI Ingest Template prepared by Allison & Diego 
   and was intended for general DCMNY-specific I7 Solr Importer reference/demonstration purposes.
   Original DCMNY template last updated March 2022: creator_lod building + LoD sourcing for various elements. -#}
    "type": {{ data.type|json_encode|raw }},
    "label": {{ data.mods_titleinfo_title|json_encode|raw }},
    {#- Optional example showing how to skip OCR Post Processing based on a metadata condition *~* 
    ap:sortfiles == "index" is added automatically by AMI if absent. But good to be verbose here so you can 
    learn more keys, the other option for that one is "natural" which will use the Filename itself to sort.
    The example snipper below will set the 'ap:nopost' key for the `ocr` process if the source CSV column contains
    a column header for 'transcript_type' and a value of "handwritten" present.
    In other words, if an Object Row in the Source CSV has "handwritten" in 'transcript_type', then this
    'ap:nopost' key will ensure the OCR Post-Processing does not apply to the Digital Object when ingested via AMI.
    -#}
    {%- if (data.transcript_type|trim|lower) == "handwritten" -%}
    "ap:tasks": {
       "ap:sortfiles": "index",
       "ap:nopost": [
         "ocr"
       ]
    },
    {%- endif -%}
    {%- if data.transcript_type|length > 0 -%}
    "transcript_type": {{ data.transcript_type|json_encode|raw }},
    {%- endif -%}
    {% if data.mods_titleinfo_alternative_title|length > 0 %}
    "title_info_alternative_title": {{ data.mods_titleinfo_alternative_title|json_encode|raw }},
    {% endif %}
    {% if data.mods_abstract|length > 0 %}
    "description": {{ data.mods_abstract|split('|@|')|json_encode|raw }},
    {% endif %}
    {% if data.mods_abstract_description|length > 0 %}
    "description": {{ data.mods_abstract_description|split('|@|')|json_encode|raw }},
    {% endif %}
{#- DATES START: beginning of advanced TWIG setup here, for all of the various date elements in the source data.
- We have ranges
- We have point dates
- We have qualifiers that apply to all
- Semantics, created or issued.

~ to indicate approximate
? to indicate uncertain or inferred dates
% to indicate uncertain and approximate -- THIS does not apply from MODS guidelines

approximate – The date is approximate (not guaranteed to be exact).
inferred – The date has not been transcribed directly from the resource.
questionable – The date is questionable, e.g. "1972?".

mods_originInfo_encoding_w3cdtf_keyDate_yes_point_start_qualifier_approximate_dateCreated
mods_originInfo_*_*_![yes_point]_end_*_dateCreated
 - also take in account as show in the example above the ones that have no properties e.g mods_originInfo_dateCreated
 - https://github.com/ProfessionalWiki/EDTF/blob/master/tests/Functional/EnglishHumanizationTest.php
 - Check also mods_note_dateuncontrolled
Replace all these with a dash
The values 21, 22, 23, 24 may be used used to signify ' Spring', 'Summer', 'Autumn', 'Winter', respectively, in place of a month value (01 through 12) for a year-and-month format string.
Example 
2001-21     Spring, 2001
The values 25, 26, 27, 28
2001-25     Spring (Northern Hemisphere), 2001
Sub-year groupings
Level 2 extends the season feature of Level 1 to include the following sub-year groupings.
21     Spring (independent of location)
22     Summer (independent of location)
23     Autumn (independent of location)
24     Winter (independent of location)
25     Spring - Northern Hemisphere 
26     Summer - Northern Hemisphere
27     Autumn - Northern Hemisphere
28     Winter - Northern Hemisphere 
29     Spring - Southern Hemisphere
30     Summer - Southern Hemisphere
31     Autumn - Southern Hemisphere
32     Winter - Southern Hemisphere 
33     Quarter 1 (3 months in duration)
34     Quarter 2 (3 months in duration)
35     Quarter 3 (3 months in duration)
36     Quarter 4 (3 months in duration)
37     Quadrimester 1 (4 months in duration)
38     Quadrimester 2 (4 months in duration)
39     Quadrimester 3 (4 months in duration)
40     Semestral 1 (6 months in duration)
41     Semestral 2 (6 months in duration)

Add a switch for hemisphere.
#}
{%- set date_types = ['datecreated', 'dateissued', 'copyrighteddate', 'dateother', 'datevalid'] -%}
{%- set date_qualifiers_and_protected = ['encoding_w3cdtf','qualifier','keydate_no','keydate_yes','point_start','point_end', 'end','start','inferred', 'questionable', 'approximate'] -%}
    {%- for date_type in date_types %}
    {%- set date_edtf_string_per_event_type = {"NONE":{"date_edtf_string":null,"date_edtf_string_start":null,"date_edtf_string_end":null}} -%}
      {#- THIS IS the one you want to use in the output 'date_edtf_string' -#}
        {%- set date_edtf_string = null -%}
        {%- set date_edtf_string_start = null -%}
        {%- set date_edtf_string_end = null -%}
        {# Key is the HEADER VALUE in the CSV #}
        {%- for key,value in data -%}
          {# OCT 14th WE CAN NOT SPLIT AN ARRAY, e.g if a cell had JSON so we check first 
          Update October 27th: need to recheck for other various date combinations further.
          #}		  
          {%- if key starts with 'mods_origininfo_' 
          and key ends with date_type 
          and key != 'mods_origininfo_'~ date_type -%}
            {% set date_value_single =  value is not iterable ? (value|default('')|split('|@|')|last) : value|last %}
   			{% if date_value_single|length > 0 %}
            {# Because sometimes a totally qualified and specific Date field might contain additionally extra values that are not needed (e.g a Circa for a field that is 
            already ending in _qualifier_approximate, we will shamelessly remove all those things #}
            {# ALLISON: If a date brings strange characters into it, this is where you clean it up #}
              {% set date_value_single = date_value_single|replace({"circa":"", "Circa":"", "c.":""})|trim %}
              {% set date_value_single = date_value_single|replace({"0s":"X"}) %}
              {% set date_event_type = "NONE" -%}
              {% set date_event_type = key|replace({'mods_origininfo_':'', (date_type):''}) %}
              {# if key is "mods_originInfo_encoding_w3cdtf_keyDate_yes_point_start_qualifier_approximate_dateCreated" i end with "_encoding_w3cdtf_keydate_yes_point_start_qualifier_approximate_" #}
              {% for qualifier in date_qualifiers_and_protected %}
                 {% set date_event_type = date_event_type|replace({(qualifier):''})|trim('_') %}
              {% endfor %}
              {% if date_event_type starts with 'eventtype' %}
            	{% set date_event_type = date_event_type|replace({'eventtype_':'','_':' '})|trim -%}
              {% else %}
                {% set date_event_type = "NONE" -%}
              {% endif %}
              {# will split mods_originInfo_encoding_w3cdtf_keyDate_yes_point_start_qualifier_approximate_datecreated #}
              {%- set date_name_parts = key|split("_") -%}
              {#- if after splitting by _ we might have random number of pieces -#}
              {%- set edtf_qualifier = '' -%}
              {%- if "qualifier" in date_name_parts -%}
              {#- fetch the qualifier -#}
                {%- set edtf_qualifier = date_name_parts[(date_name_parts|length)-2] -%}
                {%- if edtf_qualifier in ['inferred', 'questionable'] -%}
                  {%- set edtf_qualifier = '?' -%}
                {%- elseif edtf_qualifier == 'approximate' -%}
                  {%- set edtf_qualifier = '~' -%}
                {%- endif -%}
              {%- endif -%}
              {%- if 'start' in date_name_parts -%}
                {%- set date_edtf_string_start = date_value_single ~ edtf_qualifier -%}
              {% elseif 'end' in date_name_parts  %}
                {%- set date_edtf_string_end = date_value_single ~ edtf_qualifier -%}
              {%- else -%}
                {%- set date_edtf_string = date_value_single ~ edtf_qualifier -%}
              {%- endif -%}
            {# MERGING ARRAYS IN TWIG IS TRICKY SO BEFORE WE DO THAT I WILL FETCH PREVIOUS DATA JUST IN CASE #}
              {% set current_edtf_string_array = {
            (date_event_type) : {
            "date_edtf_string": current_edtf_string_array["date_event_type"]["date_edtf_string"] ?? date_edtf_string, 
            "date_edtf_string_start": current_edtf_string_array["date_event_type"]["date_edtf_string_start"] ?? date_edtf_string_start, 
            "date_edtf_string_end" : current_edtf_string_array["date_event_type"]["date_edtf_string_end"] ?? date_edtf_string_end
              }
            } %} 
              {# NOW after restoring the previous defaults/saved values we can merge/accumulate #}
              {% set date_edtf_string_per_event_type = date_edtf_string_per_event_type|merge(current_edtf_string_array) %}     
              {#- END if check if its actually a date header -#} 
            {%- endif -%}{# closes line 86 #}
          {%- endif -%}{# closes line 82 #}
        {%- endfor -%}
     {# Now iterated over all stored data keyed by event type (being NONE no event type #}
     {% for event_type,date_edtf_strings in date_edtf_string_per_event_type %}
        {%- set date_edtf_string_start = date_edtf_strings['date_edtf_string_start'] %}
        {%- set date_edtf_string_end = date_edtf_strings['date_edtf_string_end'] %}
        {# If we have both, start and end, then we do not need single point data #}
        {% if date_edtf_string_end is not empty and date_edtf_string_start is not empty %}
        	{%- set date_edtf_string = "" %}
        {% endif %}
      {# NOTE: THIS BLOCK HANDLES EXCEPTION WHEN DATES WHEN THERE ARE NO SPECIFIC QUALIFIERS #}
      {#- If we had NO column for datecreated that had extra xml properties we will use data.mods_origininfo_datecreated -#}
        {%- if date_edtf_string is empty and date_edtf_string_start is empty and date_edtf_string_end is empty -%}
          {# Double check and only use the unqualified field IF nothing else exists, Diego! #}
          {%- set datecreated_parts = data.mods_origininfo_datecreated|split("|@|") %}
          {#- Now deal with strange patterns 
          - Ranges separated by - eg 2020-2021
          - Full Dates separated by / eg 2020/12/24 or 24/12/2020
          - Dates any part that contains an 's' replacing with an 0X or X%
          - circa replacing with a ~
          - ?
          - [] replace with a ~
          -#}
          {%- set datecreated_parts_strange_cleaned = [] %}
          {% set strange = null %}
          {% set strange_character = null %}
          {%- set datecreated_parts_strange = data["mods_origininfo_" ~ date_type]|split('|@|')|last|split("-") %}
          {% for datecreated_part_strange in datecreated_parts_strange %}
             {% if datecreated_parts_strange|length == 2 and datecreated_part_strange|length >= 4 and datecreated_part_strange|length <= 5 %}
               {% set strange = 'range-tilde' %}
             {% else %}
                {% set strange = null %}
             {% endif %}
          {% endfor %}
          {% if not strange %}
            {%- set datecreated_parts_strange = data["mods_origininfo_" ~ date_type]|split('|@|')|last|split("/") %}
            {% for datecreated_part_strange in datecreated_parts_strange %}
              {% if datecreated_parts_strange|length >= 2 and datecreated_part_strange|length == 2 %}
                {% set strange = 'slash' %}
              {% endif %}
              {% if datecreated_parts_strange|length >= 2 and datecreated_part_strange|length == 4 and loop.index == 2 %}
                {% set strange = 'slash_reversed' %}
              {% endif %}
            {% endfor %}
          {% endif %}
          {#- Now check on a date item per item if strange characters apply -#}
          {% for datecreated_part_strange in datecreated_parts_strange %}         
             {% if datecreated_part_strange ends with 's' %}
                {% set datecreated_parts_strange_cleaned_with_s = datecreated_part_strange|replace({"0s":"X"}) %}
                {% set datecreated_parts_strange_cleaned_with_s = datecreated_parts_strange_cleaned_with_s|replace({"s":"%"}) %}
                {% set datecreated_parts_strange_cleaned = datecreated_parts_strange_cleaned|merge([datecreated_parts_strange_cleaned_with_s]) %}
                {% set strange_character = true %}
             {% elseif '[' in datecreated_part_strange %}
                {% set datecreated_parts_strange_cleaned = datecreated_parts_strange_cleaned|merge([datecreated_part_strange|trim('][ ') ~ '~' ]) %}
                {% set strange_character = true %}
             {% elseif 'circa' in datecreated_part_strange or 'Circa' in datecreated_part_strange or 'c.' in datecreated_part_strange %}
                {% set datecreated_parts_strange_cleaned = datecreated_parts_strange_cleaned|merge([datecreated_part_strange|replace({"circa":"~", "Circa":"~", "c.":"~"})]) %}
                {% set strange_character = true %}
             {% else %}
               {% set datecreated_parts_strange_cleaned = datecreated_parts_strange_cleaned|merge([datecreated_part_strange]) %}          
               {% set strange_character = true %}
             {% endif %}
           {% endfor %}      
        {#- check if any of the strange complex scenarios apply -#}   
           {% if strange == 'range-tilde' %}
             {%- set date_edtf_string = datecreated_parts_strange_cleaned|join('/') %}
           {% endif %}
           {% if strange == 'slash' %}
             {%- set date_edtf_string = datecreated_parts_strange_cleaned|join('-') %}
           {% endif %}
           {% if strange == 'slash_reversed' %}
             {%- set date_edtf_string = datecreated_parts_strange_cleaned|reverse|join('-') %}
           {% endif %}
           {% if not strange %}
             {% if strange_character %}
               {% set datecreated_parts = datecreated_parts_strange_cleaned %}
             {% endif %}     
             {%- set date_edtf_string = datecreated_parts|length == 1 ? datecreated_parts[0] : datecreated_parts[0] ~ '/' ~ datecreated_parts[1] -%} 
           {% endif %} 
        {%- else -%} {# ELSE OF 150 #}
          {# here finally join parts/start/end into date_edtf_string or use the already generated date_edtf_string #}
          {% if (date_edtf_string_start|length > 0 or date_edtf_string_end|length > 0) %}
             {% set date_edtf_string = date_edtf_string_start|default('')|trim ~ '/' ~ date_edtf_string_end|default('')|trim %}
          {% endif %}
        {%- endif -%}
        {# ENDS the Event type for if any #}
        {# Now the outpout #}
        {%~ if date_edtf_string|length > 0 %}
           {% if event_type == "NONE" %}
              {% set date_key_name = "date_" ~ date_type|replace({"date":""})~ "_edtf" %}
           {% else %}
              {% set date_key_name = "date_" ~ event_type|trim|replace({" ":"_"}) ~ "_" ~ date_type|replace({"date":""})~ "_edtf" %}
           {% endif %}
     {{date_key_name|json_encode|raw}}: {
        "date_to": "",
        "date_free": {{ date_edtf_string|json_encode|raw }},
        "date_from": "",
        "date_type": "date_free"
        },
       {% endif -%}
       {% endfor -%}
    {% endfor -%}
 {#- DATES END ~#}
    {#- "date_created_free": {{ data.mods_origininfo_datecreated|split('|@|')|json_encode|raw }}, -#}
    {% if data.creators_contributors_unmapped|length > 0 %}
    "creator": {{ data.creators_contributors_unmapped|split('|@|')|json_encode|raw }},
    {% endif %}
    {% if data.creator_lod|length > 0 %}
    "creator_lod": {{ data.creator_lod|json_encode|raw }},
    {% endif %}
    {#- START Names from LoD and MODS CSV with/without URIS. -#} 
    {# Updated August 26th 2022, by Diego Pino. New checks/logic for mods_name_type_role_composed_or_more_namepart
    - Check first IF for a given namepart there is already reconciliaton. 
    - IF not i check if there is a matching valueuri, 
    - IF NOT i leave the URL empty and use the value in the namepart (label) only?
    - Only check/use mods_name_corporate/personal_namepart field IF there are no other fields
    - That specify Roles. Since normally in ISLANDORA that field (no role) is a Catch all names one
    - And in that case USE creator as the default ROLE
    #}
    {%~ set creator_lod = [] -%} 
    {# Used to keep track of parts after the type (corporate, etc) that are no roles
     but authority properties. Add more if you find them #}
    {%  set roles_that_are_no_roles = ['authority_naf','authority_marcrelator',''] %}
    {# Used to keep track of the ones that are reconciled already #}
    {%- set name_has_creator_lod = [] -%}
    {%- for key,value in data_lod -%}
      {%- if key starts with 'mods_name_' and key ends with '_namepart' -%}
      {# If there is mods_name_SOMETHING_namepart in data_lod we keep track so we 
      do not try afterwards to use that Sources KEY from the CSV.
      #}
        {%- set name_has_creator_lod = name_has_creator_lod|merge([key]) -%}
      {# Now we remove 'mods_name_' and '_namepart' #}
        {%- set name_type_and_role = key|replace({'mods_name_':'', '_namepart':''}) -%}
      {# We will only target personal or corporate. If any of those are missing we skip? #}
        {% set name_type = null %}
        {%- if name_type_and_role starts with 'personal_' -%}
           {% set name_type = 'personal' %}
        {%- elseif name_type_and_role starts with 'corporate_' -%}
      	   {%- set name_type = 'corporate' -%}
        {%- endif -%}
        {%- if name_type is not empty -%}
        {#- Now we remove 'type', e.g 'corporate_' -#}
          {%- set name_role = name_type_and_role|replace({(name_type ~ '_'):''}) -%}
          {# in case the name_role contains one of roles_that_are_no_roles, e.g
          something like `creator_authority_marcrelator` we remove that #}
          {% for role_that_is_no_role in roles_that_are_no_roles %}
             {%- set name_role = name_role|replace({(role_that_is_no_role):''}) -%}
          {% endfor %}
          {# After removing all what can not be a role if we end with an empty #}
          {% if name_role|trim|length == 0 %}
             {%- set name_role = "creator" %}
          {% else %}
            {%- set name_role = name_role|replace({'\\/':'//' , '_':' '})|trim -%}
          {% endif %}
        {#- we iterate over all possible vocabularies and fetch the reconciliated names from them (if any) -#}
          {%- for approach, names in value -%} 
        {#- if there are actually name pairs (name and uri) that were reconciliated we use them -#}
            {%- if names|length > 0 -%}
              {#- we call the ami_lod_reconcile twig extension with the role label using the LoC Relators endpoint in english and get 1 result -#}
              {%- set role_uri = ami_lod_reconcile(name_role|lower|capitalize,'loc;relators;thing','en',1) -%}
              {#- for each found name pair in a list of possible LoD reconciliated elements we generate the final structure that goes into "creator_lod" json key -#}
              {%- for name in names -%} 
                {%- set creator_lod = creator_lod|merge([{'role_label': name_role|lower|capitalize, 'role_uri': role_uri[0].uri, "agent_type": name_type, "name_label": name.label, "name_uri": name.uri}]) -%}     
              {%- endfor -%}
            {%- endif -%}
          {%- endfor -%}
        {% endif -%}
      {%- endif -%} 
    {%- endfor -%}
    {# Now go for the RAW CSV data for names #}
    {%- for key,value in data -%}
    {# here we skip values previoulsy fetched from LoD and stored in name_has_creator_lod #}
      {%- if key not in name_has_creator_lod and key starts with 'mods_name_' and key ends with '_namepart' -%}
      {# If there is mods_name_SOMETHING_namepart in data_lod we keep track so we 
      do not try afterwards to use that Sources KEY from the CSV.
      #}
        {%- set name_has_creator_lod = name_has_creator_lod|merge([key]) -%}
      {# Now we remove 'mods_name_' and '_namepart' #}
        {%- set name_type_and_role = key|replace({'mods_name_':'', '_namepart':''}) -%}
      {# We will only target personal or corporate. If any of those are missing we skip? #}
        {%- set name_type = null -%}
        {%- if name_type_and_role starts with 'personal_' -%}
           {%- set name_type = 'personal' -%}
        {%- elseif name_type_and_role starts with 'corporate_' -%}
      	   {%- set name_type = 'corporate' -%}
        {%- endif -%}
        {% if name_type is not empty %}
        {# Now we remove 'type', e.g 'corporate_' #}
          {%- set name_role = name_type_and_role|replace({(name_type ~ '_'):''}) -%}
          {# in case the name_role contains one of roles_that_are_no_roles, e.g
          something like `creator_authority_marcrelator` we remove that #}
          {% for role_that_is_no_role in roles_that_are_no_roles %}
             {%- set name_role = name_role|replace({(role_that_is_no_role):''}) -%}
          {% endfor %}
          {# After removing all what can not be a role if we end with an empty #}
          {% if name_role|trim|length == 0 %}
             {%- set name_role = "creator" %}
          {% else %}
            {%- set name_role = name_role|replace({'\\/':'//' , '_':' '})|trim -%}
          {% endif %}
          {# Now we check if there is a corresponding _valueuri for this #}
          {% set name_uris = [] %}
          {%- if data[('mods_name_' ~ name_type_and_role ~ '_valueuri')] is not empty 
          and data[('mods_name_' ~ name_type_and_role ~ '_valueuri')] != '' -%}
            {%- set name_uris = data[('mods_name_' ~ name_type_and_role ~ '_valueuri')]|split('|@|') -%}
          {%- endif -%}
          {%- set role_uri = ami_lod_reconcile(name_role|lower|capitalize,'loc;relators;thing','en',1) -%}
        {#- we split and iterate over the value of the mods_name key -#}
        {# NOTE. THIS IS TARGETING Anything after the year 1000, or 2000 #}
          {%- for index,name in value|replace({'|@|1':', 1', '|@|2':', 2', '|@|-':', -'})|split('|@|') -%}
            {%- if name is not empty and name|trim != '' -%}
              {%- set name_uri = null -%}
              {# Here we can check if one of the names IS not a name (e.g a year? #}
              {#- we call the ami_lod_reconcile twig extension with the role label using the LoC Relators endpoint in english and get 1 result -#}
              {%- if name_uris[index] is defined and name_uris[index] is not empty -%}
                 {%- set name_uri = name_uris[index] -%}
              {%- endif -%}
              {%- set creator_lod = creator_lod|merge([{'role_label': name_role|lower|capitalize, 'role_uri': role_uri[0].uri, "agent_type": name_type, "name_label": name, "name_uri": name_uri}]) -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      {%- endif -%}
    {%- endfor ~%}
    {% if creator_lod is defined and creator_lod is not empty %}
    "creator_lod": {{ creator_lod|json_encode|raw -}},
    {% endif %}
    {#- END Names from LoD and MODS CSV with/without URIS. -#}
    {% if data.mods_origininfo_publisher|length > 0 %}
    "publisher": {{ data.mods_origininfo_publisher|json_encode|raw }},
    {% endif %}
    {% if data.publisher_of_digital|length > 0 %}
    "publisher_of_digital": {{ data.publisher_of_digital|json_encode|raw }},
    {% endif %}
    {% if data.mods_origininfo_place_placeterm_text|length > 0 %}
    "place_of_publication": {{ data.mods_origininfo_place_placeterm_text|json_encode|raw }},
    {% endif %}
 {#   {% if data.mods_language_languageterm|length > 0 %}
	"language": {{ data.mods_language_languageterm|split('|@|')|json_encode|raw }},   
    {% endif %} #}
    {% if data.language|length > 0 %}
	"language": {{ data.language|split('|@|')|json_encode|raw }},   
    {% endif %}
    {% if data.mods_language_languageterm_text|length > 0 %}
	"language": {{ data.mods_language_languageterm_text|split('|@|')|json_encode|raw }},   
    {% endif %}
    {#~ Language information may also be sourced from:
    - mods_language_languageTerm_code
    - mods_language_languageTerm_text
    - mods_language_languageterm_code_authority_iso639-2b
    #}
    "ismemberof": [],
    "ispartof": [],
    {% if data.sequence_id|length > 0 %}
    "sequence_id": {{ data.sequence_id|json_encode|raw }},
    {% endif %}
    {% if data.mods_note_ownership|length > 0 %}
    "owner": {{ data.mods_note_ownership|json_encode|raw }},
    {% endif %}
    {% if data.mods_identifier_local|length > 0 %}
    "local_identifier": {{ data.mods_identifier_local|split('|@|')|json_encode|raw }},
    {% endif %}
    {% if data.mods_accesscondition_useandreproduction|length > 0 %}
    "rights_statement": {{ data.mods_accesscondition_useandreproduction|json_encode|raw }},
    {% endif %}
    {% if data.mods_accesscondition_local_rights_statements|length > 0 %}
    "rights": {{ data.mods_accesscondition_local_rights_statements|json_encode|raw }},
    {% endif %}
    {#- Rights information may also be sourced from other elements such as:
    - mods_accesscondition_use_and_reproduction
    - mods_accessCondition_local_rights_statement
    - mods_accessCondition_use_and_reproduction_xlinkhref
    -#}
    {#- Testing the LoD Reconciliation key structures for the example elements here is strongly recommended.
    Please also note that particular vocabulary references in I7 element keys may not accurately reflect a particular vocabulary, 
    meaning the values may not have been verified against the particular vocabulary source (such as LoC or Getty AAT).
    -#}
    
    {#- START Subjects from LoD and MODS CSV with/without URIS. -#} 
    {# Updated August 26th 2022, by Diego Pino. #}
    {%~ set subject_lcnaf_personal_names = [] -%} 
    {%~ set subject_lcnaf_corporate_names = []-%}
    {# Used to keep track of parts after the type (corporate, etc) that are no roles
     but authority properties. Add more if you find them #}
    {%  set subject_autorities = ['authority_lcsh','authority_naf','authority_aat'] %}
    {# Go for the RAW CSV data for subjects #}
    {%- for key,value in data -%}
    {# here we skip values previoulsy fetched from LoD and stored in name_has_creator_lod #}
      {%- if key starts with 'mods_subject_name_' and key ends with '_namepart' -%}
      {# Now we remove 'mods_subject_name_' and '_namepart' #}
        {%- set name_type_and_authority = key|replace({'mods_subject_name_':'', '_namepart':''}) -%}
      {# We will only target personal or corporate. If any of those are missing we skip? #}
        {%- set name_type = null -%}
        {%- if name_type_and_authority starts with 'personal_' -%}
           {%- set name_type = 'personal' -%}
        {%- elseif name_type_and_authority starts with 'corporate_' -%}
      	   {%- set name_type = 'corporate' -%}
        {%- endif -%}
        {% if name_type is not empty %}
        {# Now we remove 'type', e.g 'corporate_' #}         
          {# Now we check if there is a corresponding _valueuri for this #}
          {% set name_uris = [] %}
          {# for end suffix of '_valueuri' #}
          {%- if data[('mods_subject_name_' ~ name_type_and_authority ~ '_valueuri')] is not empty 
          and data[('mods_subject_name_' ~ name_type_and_authority ~ '_valueuri')] != '' -%}
            {%- set name_uris = data[('mods_subject_name_' ~ name_type_and_authority ~ '_valueuri')]|split('|@|') -%}
          {%- endif -%}
          {# for end suffix of '_authorityuri' : added by Allison 10/19/2023 #}
          {%- if data[('mods_subject_name_' ~ name_type_and_authority ~ '_authorityuri')] is not empty 
          and data[('mods_subject_name_' ~ name_type_and_authority ~ '_authorityuri')] != '' -%}
            {%- set name_uris = data[('mods_subject_name_' ~ name_type_and_authority ~ '_authorityuri')]|split('|@|') -%}
          {%- endif -%}
        {#- we split and iterate over the value of the mods_name key -#}
        {# NOTE. THIS IS TARGETING Anything after the year 1000, or 2000 #}
          {%- for index,name in value|replace({'|@|1':', 1', '|@|2':', 2', '|@|-':', -'})|split('|@|') -%}
            {%- if name is not empty and name|trim != '' -%}
              {%- set name_uri = null -%}
              {# Here we can check if one of the names IS not a name (e.g a year? #}
              {#- we call the ami_lod_reconcile twig extension with the role label using the LoC Relators endpoint in english and get 1 result -#}
              {%- if name_uris[index] is defined and name_uris[index] is not empty -%}
                 {%- set name_uri = name_uris[index] -%}
              {%- endif -%}
              {# Here we decide where to store this data based on the authoriy/if any #}
              {% if name_type == 'personal' %}
                {%- set subject_lcnaf_personal_names = subject_lcnaf_personal_names|merge([{'uri': name_uri, 'label': name}]) -%}
              {% elseif  name_type == 'corporate' %}
                {%- set subject_lcnaf_corporate_names = subject_lcnaf_corporate_names|merge([{'uri': name_uri, 'label': name}]) -%}
              {% endif %}
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      {%- endif -%}
    {%- endfor ~%}   
  {# Now output what we collected #} 
  {% if subject_lcnaf_personal_names|length > 0 %} 
  "subject_lcnaf_personal_names": {{ subject_lcnaf_personal_names|json_encode|raw }},
  {% endif %}
  {% if subject_lcnaf_corporate_names|length > 0 %} 
  "subject_lcnaf_corporate_names": {{ subject_lcnaf_corporate_names|json_encode|raw }},
  {% endif %}
{# subject_loc and getty_aat additions, working with Diego (thank you!) on 10/27 #}  
{%- if data['mods_subject_authority_lcsh_topic'] is defined and not empty -%}
    {% set subjects = data["mods_subject_authority_lcsh_topic"] is iterable ? data["mods_subject_authority_lcsh_topic"] : data["mods_subject_authority_lcsh_topic"]|split('|@|') %} 
    {% set subject_uris = data["mods_subject_authority_lcsh_valueuri"] is defined ? data["mods_subject_authority_lcsh_valueuri"] : '' %} 
    {# the same can be done as set subject_uris = data["mods_subject_authority_lcsh_valueuri"]|default('') *cool* #}
    {# set subject_uris_list = data["mods_subject_authority_lcsh_valueuri"] is defined ? data["mods_subject_authority_lcsh_valueuri"] : data["mods_subject_authority_lcsh_valueuri"]|default('')|split('|@|') %} #}
    {% set subject_uris_list = subject_uris is iterable ? subject_uris : subject_uris|split('|@|') %}
    "subject_loc": [
        {% for subject in subjects %}
        {
            "uri": {{ subject_uris_list[loop.index0]|default('')|json_encode|raw }},
            "label": {{ subject|json_encode|raw }}
        }
        {{ not loop.last ? ',' : '' }}
        {% endfor %}
    ],
{%- endif -%}
{%- if data['mods_genre_authority_aat'] is defined and not empty -%}
    {% set subjects = data["mods_genre_authority_aat"] is iterable ? data["mods_genre_authority_aat"] : data["mods_genre_authority_aat"]|split('|@|') %} 
    {% set subject_uris = data["mods_genre_authority_aat_valueuri"] is defined ? data["mods_genre_authority_aat_valueuri"] : '' %} 
    {# the same can be done as set subject_uris = data["mods_subject_authority_lcsh_valueuri"]|default('') *cool* #}
    {# set subject_uris_list = data["mods_subject_authority_lcsh_valueuri"] is defined ? data["mods_subject_authority_lcsh_valueuri"] : data["mods_subject_authority_lcsh_valueuri"]|default('')|split('|@|') %} #}
    {% set subject_uris_list = subject_uris is iterable ? subject_uris : subject_uris|split('|@|') %}
    "term_aat_getty": [
        {% for subject in subjects %}
        {
            "uri": {{ subject_uris_list[loop.index0]|default('')|json_encode|raw }},
            "label": {{ subject|json_encode|raw }}
        }
        {{ not loop.last ? ',' : '' }}
        {% endfor %}
    ],
{%- endif -%}
{%- if data['mods_genre_authority_lcgft'] is defined and not empty -%}
    {% set subjects = data["mods_genre_authority_lcgft"] is iterable ? data["mods_genre_authority_lcgft"] : data["mods_genre_authority_lcgft"]|split('|@|') %} 
    {% set subject_uris = data["mods_genre_authority_lcgft_valueuri"] is defined ? data["mods_genre_authority_lcgft_valueuri"] : '' %} 
    {# the same can be done as set subject_uris = data["mods_subject_authority_lcsh_valueuri"]|default('') *cool* #}
    {# set subject_uris_list = data["mods_subject_authority_lcsh_valueuri"] is defined ? data["mods_subject_authority_lcsh_valueuri"] : data["mods_subject_authority_lcsh_valueuri"]|default('')|split('|@|') %} #}
    {% set subject_uris_list = subject_uris is iterable ? subject_uris : subject_uris|split('|@|') %}
    "subject_lcgft_terms": [
        {% for subject in subjects %}
        {
            "uri": {{ subject_uris_list[loop.index0]|default('')|json_encode|raw }},
            "label": {{ subject|json_encode|raw }}
        }
        {{ not loop.last ? ',' : '' }}
        {% endfor %}
    ],
{%- endif -%} 
{# <-- SUBJECTS: TOPICS #}
  {#- LCSH -#}
    {% if data.subject_loc|length > 0 %}
    "subject_loc": {{ data.subject_loc|json_encode|raw }},
    {% endif %}
  {#  {% if data.mods_subject_topic|length > 0 %}
    "subject_loc": {{ data_lod.mods_subject_topic.loc_subjects_thing|json_encode|raw }},
    {% endif %}
  #}
  {#- Wikidata: can be sourced from mods_subject_topic and mods_genre -#}
    {% if subject_wikidata|length > 0 %}
    "subject_wikidata": {{ subject_wikidata|json_encode|raw }},
    {% endif %}       
    {% set subject_wikidata = [] %}
    {% for source, reconciliated in data_lod %}
      {% if (('subject' in source) or ('genre' in source)) and reconciliated.wikidata_subjects_thing and reconciliated.wikidata_subjects_thing|length > 0 %}
         {% set subject_wikidata = subject_wikidata|merge(reconciliated.wikidata_subjects_thing) %}
      {% endif %}
    {% endfor %}  
  {#- Getty terms: sourced from mods_genre -#}
    {% if data.term_aat_getty|length > 0 %}
    "term_aat_getty": {{ data.term_aat_getty|json_encode|raw }},
    {% endif %}
    {% if data.mods_genre|length > 0 %}
    "term_aat_getty": {{ data_lod.mods_genre.getty_aat_terms|json_encode|raw }},
    {% endif %}
    {# Added for Barnard Oct 2022, assuming CVS contains JSON for data.subject_lcgft_terms #}
    {% if data.subject_lcgft_terms is iterable %}
    "subject_lcgft_terms": {{ data.subject_lcgft_terms|json_encode|raw }},
    {% endif %}
  {#- Temporal subject terms -#} 
  {% if data.mods_subject_temporal|length > 0 and data_lod.mods_subject_temporal.loc_subjects_thing|length > 0 %}
    "subject_temporal": {{ data_lod.mods_subject_temporal.loc_subjects_thing|json_encode|raw }},
    {% else %}
  {% if data.mods_subject_temporal|length > 0 %}  
    "subject_temporal": {{ data.mods_subject_temporal|json_encode|raw }},
   {% endif %}
   {% endif %}
{#- <-- Geographic Info and terms:
  Includes options for geographic info already present as
  - full Nominatim or LCNAF JSON in source data
  - reconciliated values against LC Geographic Names
  - Nominatim lookup by value/label
  - Nominatim lookup by coordinates 
  -#}
  	{% if data.geographic_location|length > 0 %}
    "geographic_location": {{ data.geographic_location|json_encode|raw }},
    {% endif %}
    {% if data.subject_lcnaf_geographic_names|length > 0 %}
    "subject_lcnaf_geographic_names": {{ data.subject_lcnaf_geographic_names|json_encode|raw }},
    {% endif %}
    {#- map values reconciliated against LC Geographic Names into the subject_lcnaf_geographic_names key -#}
    {% if data_lod.mods_subject_geographic.loc_geographicareas_thing|length > 0 %}
    "subject_lcnaf_geographic_names": {{ data_lod.mods_subject_geographic.loc_geographicareas_thing|json_encode|raw }}, 
    {% endif %}
    {#- use value for Nominatim search -#}
    {% if data.mods_subject_geographic|length > 0 %}
    {% set nominatim_from_label = ami_lod_reconcile(data.mods_subject_geographic,'nominatim;thing;search','en') -%}
    "geographic_location": {{ nominatim_from_label|json_encode|raw }},
    {% endif %}
    {% if data.mods_note_address|length > 0 %}
    {% set nominatim_from_label = ami_lod_reconcile(data.mods_note_address,'nominatim;thing;search','en') -%}
    "geographic_location": {{ nominatim_from_label|json_encode|raw }},
    {% endif %}
    {#- use coordinates for Nominatim search, if provided -#}
    {% if data.mods_subject_cartographics_coordinates|length > 0 %}
    {% set nominatim_from_coordinates = ami_lod_reconcile(data.mods_subject_cartographics_coordinates,'nominatim;thing;reverse','en') -%}
    "geographic_location": {{ nominatim_from_coordinates|json_encode|raw }},
    {% endif %}
{#- Geographic Info and terms --> #}  
{# SUBJECTS: TOPICS --> #}
{# <-- SUBJECTS: PERSONAL NAMES #}
   	 {#- 
     	{% if data.mods_subject_name_personal_namepart|length > 0 %}
    	"subject_lcnaf_personal_names": {{ data_lod.mods_subject_name_personal_namepart.loc_rdftype_personalname|json_encode|raw }},
    	{% endif %} 
      - #}
    {# We initialize an empty variable named the same as our JSON key distination #}
    {% set subject_lcnaf_personal_names = [] %}
    {# We iterate over all Linked Open Data ('data_lod') and get the Source Key ('source') and for each source all reconciliated vocabs/values ('reconciliated') #}
    {% for source, reconciliated in data_lod %}
    {# We check if the 'source' contains the word subject AND if in reconciliated 'loc_rdftype_personalname' vocab exists and it has values #}
      {% if ('subject' in source) and reconciliated.loc_rdftype_personalname and reconciliated.loc_rdftype_personalname|length > 0 %}
         {# We add (|merge) to the previously initialized/or already with data 'subject_lcnaf_personal_names' variable the values found in 'reconciliated.loc_rdftype_personalname' #}
         {% set subject_lcnaf_personal_names = subject_lcnaf_personal_names|merge(reconciliated.loc_rdftype_personalname) %}
      {% endif %}
    {% endfor %}  
    {# We check if the new 'subject_lcnaf_personal_names' variable accumulated any data and is not empty #}
    {% if subject_lcnaf_personal_names|length > 0 %}
    {# We assign  'subject_lcnaf_personal_names' variable instead of any data coming from the original `data` or `data_lod` #}
    "subject_lcnaf_personal_names": {{ subject_lcnaf_personal_names|json_encode|raw }},
    {% endif %}
{# SUBJECTS: PERSONAL NAMES --> #}
{# <-- SUBJECTS: CORPORATE NAMES #}
   	 {#- 
     	{% if data.mods_subject_name_corporate_namepart|length > 0 %}
    	"subject_lcnaf_corporate_names": {{ data_lod.mods_subject_name_corporate_namepart.loc_rdftype_corporatename|json_encode|raw }},
    	{% endif %} 
      - #}
    {% set subject_lcnaf_corporate_names = [] %}
    {% for source, reconciliated in data_lod %}
      {% if ('subject' in source) and reconciliated.loc_rdftype_corporatename and reconciliated.loc_rdftype_corporatename|length > 0 %}
         {% set subject_lcnaf_corporate_names = subject_lcnaf_corporate_names|merge(reconciliated.loc_rdftype_corporatename) %}
      {% endif %}
    {% endfor %}  
    {% if subject_lcnaf_corporate_names|length > 0 %}
    "subject_lcnaf_corporate_names": {{ subject_lcnaf_corporate_names|json_encode|raw }},
    {% endif %}
{#- Beggining of additional common I7 specific/sourced metadata elements. 
    These elements are not represented in the default Archipelago webform(s) and display templates -#}
    {% if data.mods_subject_cartographics_scale|length > 0 %}
    "subject_cartographics_scale": {{ data.mods_subject_cartographics_scale|split('|@|')|json_encode|raw }},
    {% endif %}
    {% if data.subjects_names_unmapped|length > 0 %}
    "subjects_local_names": {{ data.subjects_names_unmapped|split('|@|')|json_encode|raw }},
    {% endif %}
    {% if data.subjects_unmapped|length > 0 %}
    "subjects_local": {{ data.subjects_unmapped|split('|@|')|json_encode|raw }},
    {% endif %}
    {% if data.mods_location_physical_location|length > 0 %}
	"physical_location": {{ data.mods_location_physical_location|json_encode|raw }},
    {% endif %}
    {% if data.mods_physicaldescription_digitalorigin|length > 0 %}
    "physical_description_digital_origin": {{ data.mods_physicaldescription_digitalorigin|json_encode|raw }},
    {% endif %}
    {% if data.mods_physicaldescription_extent|length > 0 %}
    "physical_description_extent": {{ data.mods_physicaldescription_extent|json_encode|raw }},
    {% endif %}
    {% if data.mods_physicaldescription_internetmediatype|length > 0 %}
    "physical_description_internet_media_type": {{ data.mods_physicaldescription_internetmediatype|json_encode|raw }},
    {% endif %}
    {% if data.mods_physicaldescription_note_condition|length > 0 %}
    "physical_description_note_condition": {{ data.mods_physicaldescription_note_condition|json_encode|raw }},
    {% endif %}
    {% if data.mods_origininfo_place_placeTerm_text|length > 0 %}
    "place_of_publication": {{ data.mods_origininfo_place_placeTerm_text|json_encode|raw }},
    {% endif %}
    {% if data.mods_note|length > 0 %}
    "note": {{ data.mods_note|split('|@|')|json_encode|raw }},
    {% endif %}
    {% if data.mods_note_publishinginfo|length > 0 %}
    "note_publishinginfo": {{ data.mods_note_publishinginfo|split('|@|')|json_encode|raw }},
    {% endif %}
    {% if data.mods_relateditem_host_displaylabel|length > 0 %}
    "related_item_host_display_label": {{ data.mods_relateditem_host_displaylabel|json_encode|raw }},
    {% endif %}
    {% if data.mods_relatedItem_host_abstract|length > 0 %}
    "related_item_host_abstract": {{ data.mods_relatedItem_host_abstract|json_encode|raw }},
    {% endif %}    
    {% if data.mods_relateditem_host_titleinfo_title|length > 0 %}
    "related_item_host_title_info_title": {{ data.mods_relateditem_host_titleinfo_title|split('|@|')|json_encode|raw }},
	{% endif %}
    {% if data.mods_relateditem_host_location_url|length > 0 %}
    "related_item_host_location_url": {{ data.mods_relateditem_host_location_url|json_encode|raw }},
    {% endif %}
    {% if data.mods_relateditem_host_typeofresource|length > 0 %}
    "related_item_host_type_of_resource": {{ data.mods_relateditem_host_typeofresource|json_encode|raw }},
    {% endif %}
    {% if data.related_item_host_location_url|length > 0 %}
    "related_item_host_location_url": {{ data.related_item_host_location_url|json_encode|raw }},
    {% endif %}
    {% if data.mods_relateditem_note|length > 0 %}
    "related_item_note": {{ data.mods_relateditem_note|split('|@|')|json_encode|raw }},
    {% endif %}
    {% if data.mods_typeofresource|length > 0 %}
    "mods_type_of_resource": {{ data.mods_typeofresource|split('|@|')|json_encode|raw }},
    {% endif %}
    {% if data.mods_recordinfo_languageofcataloging_languageterm_code|length > 0 %}
    "mods_record_info_language_of_cataloging_language_term_code": {{ data.mods_recordinfo_languageofcataloging_languageterm_code|split(' |@| ')|json_encode|raw }},
    {% endif %}
    {% if data.issue_info|length > 0 %}
    "issue_info": {{ data.issue_info|json_encode|raw }},
    {% endif %}
    {% if data.mods_location_shelflocator|length > 0 %}
    "shelflocator": {{ data.mods_location_shelflocator|split('|@|')|json_encode|raw }},
    {% endif %}
    {% if data.mods_relateditem_series_titleinfo_title|length > 0 %}
    "relateditem_series_titleinfo_title": {{ data.mods_relateditem_series_titleinfo_title|split('|@|')|json_encode|raw }},
    {% endif %}
    {#- May also be sourced from: mods_recordinfo_languageofcataloging_languageterm_code_authority_iso639-2b -#}
    {#- General Administrative Elements : you may wish to carry over some of this data from your legacy environment. 
    We strongly recommend keeping at least PID. 
    Note: you do not need to reference/make editable all of these elements in your webform(s).
    -#}
    "legacy_PID": {{ data.pid|split('|@|')|json_encode|raw }},
    "legacy_fgs_createddate": {{ data.fgs_createddate|json_encode|raw }},
    {#- 
    "fgs_label": {{ data.fgs_label|json_encode|raw }},
    "rels_ext_hasmodel_uri": {{ data.rels_ext_hasmodel_uri|json_encode|raw }},
    "fedora_datastreams": {{ data.fedora_datastreams|json_encode|raw }},
    "fedora_datastream_latest_audit_mimetype": {{ data.fedora_datastream_latest_audit_mimetype|json_encode|raw }},
    "fedora_datastream_latest_tn_mimetype": {{ data.fedora_datastream_latest_tn_mimetype|json_encode|raw }},
    "rels_ext_ismemberofcollection_uri": {{ data.rels_ext_ismemberofcollection_uri|json_encode|raw }},
    "fedora_datastream_latest_obj_mimetype": {{ data.fedora_datastream_latest_obj_mimetype|json_encode|raw }},
    "fedora_datastream_latest_dc_mimetype": {{ data.fedora_datastream_latest_dc_mimetype|json_encode|raw }},
    "fedora_datastream_latest_policy_mimetype": {{ data.fedora_datastream_latest_policy_mimetype|json_encode|raw }},
    "fedora_datastream_latest_medium_size_mimetype": {{ data.fedora_datastream_latest_medium_size_mimetype|json_encode|raw }},
    "rels_ext_ismanageablebyrole_literal": {{ data.rels_ext_ismanageablebyrole_literal|json_encode|raw }},
    "rels_ext_ismanageablebyuser_literal": {{ data.rels_ext_ismanageablebyuser_literal|json_encode|raw }}, 
    -#}
	{#- End of I7 specific/sourced metadata elements -#}
    "audios": [],
    "images": [],
    "models": [],
    "videos": [],
    "documents": [],
    "as:generator": {
        "type": "Create",
        "actor": {
            "url": {{ setURL|json_encode|raw }},
            "name": "ami",
            "type": "Service"
        },
        "endTime": "{{"now"|date("c")}}",
        "summary": "Generator",
        "@context": "https:\/\/www.w3.org\/ns\/activitystreams"
     },
    "upload_associated_warcs": []
}
